        <%- include('header') %>
        <h2>Open roles:</h2>
        <div>
            <h3>Engineering Team</h3>
            <ul>
                <li><a href="vaga">Fullstack Developer (Remote)</a></li>
            </ul>
        </div>
        <div>
            <h3>Marketing Team</h3>
            <ul>
                <li>Digital Marketing (San Francisco)</li>
            </ul>
        </div>
<%- include('footer') %>